
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title{
  color: var(--blue-grey-500);
  margin: 10px 0;
}
.header__buttons{
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
}
.btn-more__wrapper{
  display: grid;
  grid-template-columns: max-content;
}

@media screen and (max-width: 500px) {
  .header .button__text{
    display:none;
  }
  .btn-more__wrapper{
    grid-template-columns: 100%;
  }
  .btn-more__wrapper .button{
    justify-content: center;
  }
}

.main__wrapper{
  display: flex;
  flex-direction: column;

}