@font-face{
  font-family:'YS Text';
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  src:url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff2) format('woff2'),
  url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff) format('woff')
}

  @font-face{
    font-family:'YS Text';
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    src:url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format('woff2'),
    url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format('woff')
  }
  @font-face{
    font-family:'YS Text';
    font-weight:700;
    font-style:normal;
    font-stretch:normal;
    src:url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff2) format('woff2'),
    url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff) format('woff')
  }


body,h1,h2,h3,p, input{
  margin: 0;
  font-family:'YS Text','Helvetica Neue',Arial,sans-serif;
    -webkit-font-feature-settings:'liga','kern';
    -moz-font-feature-settings:'liga','kern';
    font-feature-settings:'liga','kern'
}
:root{
  --color-bg-action: #FFCC00;
  --color-bg-action-hovered: #F2C200;
  --color-bg-control: #E6E6E6;
  --color-bg-control-hovered: #DBDBDB;
  --color-bg-disabled: #F2F2F2;
  --color-bg-base: #fff;
  --color-bg-heavy:#D9D9D9;

  --color-border-focused: #B3B3B3;
  --color-border-action-focused: #B38F00;

  --color-text: #000000;
  --coolor-text-disabled: #7F7F7F;

  --blue-grey-50:#F0F2F3;
  --blue-grey-500: #7F8285;
  --black-500:#000000;
  --green-500: #00B341;
  --orange-500:#FF9A00;
  --red-500:#FF3333;
  --red-600:#E00000;
  --white-500:#FFFFFF;

  --modal-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 6px 16px rgba(67, 68, 69, 0.3);

}




/* ============      Icon       ======================*/
.icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
.icon_size_s{
  height: 12px;
  width: 12px;
}
.icon_size_m{
  height: 16px;
  width: 16px;
}
.icon_size_l{
  height: 24px;
  width: 24px;
}
.icon_calendar{
  background-image: url('images/svg/calendar.svg');
}
.icon_clear{
  background-image: url('images/svg/clear.svg');
}
.icon_pending{
  background-image: url('images/svg/clock.svg');
}
.icon_commit{
  background-image: url('images/svg/commit.svg');
}
.icon_done{
  background-image: url('images/svg/done.svg');
}
.icon_fail{
  background-image: url('images/svg/fail.svg');
}
.icon_gear{
  background-image: url('images/svg/gear.svg');
}
.icon_play{
  background-image: url('images/svg/play.svg');
}
.icon_rebuild{
  background-image: url('images/svg/rebuild.svg');
}
.icon_stopwatch{
  background-image: url('images/svg/stopwatch.svg');
}
.icon_tools{
  background-image: url('images/svg/tools.svg');
}
.icon_user{
  background-image: url('images/svg/user.svg');
}