.settings__form{
  max-width: 474px;
  display: flex;
  flex-direction: column;
  appearance: none;
  padding: 8px;
}
.settings__title{
  margin-bottom: 8px;
}
.settings__descr{
  margin-bottom: 22px;
  color: var(--blue-grey-500);
}
.settings__form-fields{
  display: grid;
  grid-auto-flow: row;
  margin-bottom: 12px;
}

.settings__buttons{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 8px;
}

@media screen and (max-width: 500px) {
  .settings__buttons{
    grid-template-columns: 1fr;
  }
  .settings__buttons .button{
    justify-content: center;
  }
}